@media screen and (max-width: 768px) {
    :root {
        /* Font Size */
        --font-large: 60px;
        --font-medium: 25px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    /* Bg Image */
    .body__bg {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeIn .5s linear;
    }

    .weather__image {
        width: 50px;
        height: 50px;
    }

    .weather__info {
        font-size: var(--font-micro);
    }

    .name__input {
        width: 240px;
    }

    .section.transform {
        flex-direction: column;
    }

    .user-container {
        transform: translate(0%, 80%);
    }

    .task-container.active {
        width: 300px;
    }

    .clock__title, .task__title {
        font-size: var(--font-medium);
    }

    .task__input {
        width: 200px;
    }

    .to-do, .done {
        height: 200px
    }

    .list__item {
        width: 150px;
    }
}