/* Global */
:root {
    /* Color */
    --color-black: #333333;
    --color-white: #ffffff;
    --color-gray: #c6c6c6;
    --color-amber: #ffca28;
    --color-red: #d32f2f;

    /* Font Size */
    --font-large: 96px;
    --font-medium: 48px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Animation */
    --animation-duration: 300ms;

}

/* Universal Tags */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-black);
    font-family: 'Open Sans', sans-serif;
    color: var(--color-white);
    margin: 0;
}

ul, li {
    list-style: none;
}

ul {
    padding-left: 0;
    margin: 4px 0;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}

input {
    outline: none;
    padding: 8px 16px;
    text-align: center;
    font-size: var(--font-medium);
    color: var(--color-white);
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

p {
    margin: 3px 0;
}

span {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
}

/* Section */
.section {
    position: relative;
    text-align: center;
}

.section.section__transform {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Clock */
.clock-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%); 
}

.clock-container.active {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 50%;
    transform: translate(0%, 50%);
}

.js-greeting,
.greeting {
    display: none;
}

.showing {
    display: block;
}

.name__input {
    width: 480px;
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-style: none none solid none;
}

.period,
.name {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.period {
    color: var(--color-amber);
}

/* Task */
.task-container {
    display: none;
}

.task-container.active {
    display: block;
    flex-basis: 50%;
    transform: translate(0%, 50%);
}

.task__input {
    width: 300px;
    color: var(--color-black);
    font-size: var(--font-regular);
}

.list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.list__item {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__delete {
    transition: all var(--animation-duration) ease-in;
}

.item__delete:hover {
    color: var(--color-red);
    transform: scale(1.1);
}